 form {
    font-family: Brush Script MT;
    color: rgb(133, 43, 133);
}

button {
    font-family: Brush Script MT;
    color: rgb(133, 43, 133);
    background-color: rgb(196, 121, 196);
    width: 15%;
}

.new-perfume {
    max-width: 300px;
    max-height: 300px;
}