.makeup-img {
    max-width: 150px;
    max-height: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.perfume-img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.makeup-list-img {
    max-width: 150px;
    max-height: 150px;

}
.perfume-list-img {
  
    max-width: 150px;
    max-height: 150px;

}  

.product-div {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

ul{ 
    margin: 38%;
    padding: 2%;
    background-color: white;
    border: 3px solid rgb(133, 43, 133);
    font-family: Brush Script MT;
    font-size: large;
    list-style: none; 
    align-items: center;
    
}

