.makeup-img {
    max-width: 150px;
    max-height: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.perfume-img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.makeup-list-img {
    align-items: center;
    max-width: 150px;
    max-height: 150px;

}
.perfume-list-img {
    align-items: center;
    max-width: 150px;
    max-height: 150px;

}  

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.main-div {
    margin: 35rem 35rem 35rem 35rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 28px 4px rgb(196, 121, 196);
    transition: transform .3s ease;
    cursor: pointer; 
   
}

.main-div:hover {
    transform: scale(1.1);

}

.link-div, .brand-div, .category-div {
    font-family: Apple Chancery;
    font-size: x-large;
    color: rgb(133, 43, 133);
}

.price-div, .scent-div {
    font-family: Apple Chancery;
    font-size: x-large;
    color: rgb(133, 43, 133);

}



.card-button {
    background-color:rgb(196, 121, 196); 
    color: rgb(133, 43, 133);
    font-family: Apple Chancery;
    width: 45%;
    font-size: large;
}


.name {
    color: rgb(133, 43, 133);
    font-family: Apple Chancery;
    font-size: x-large; 
}