.perfume-show-img {
    max-width: 200px;
    max-height: 200px;
}
.short-term {
    max-width: 105px;
    max-height: 105px;
}

.long-term {
    max-width: 105px;
    max-height: 105px;
    
}

article {
    font-family: Brush Script MT;
}