.perfume-show-img {
    max-width: 400px;
    max-height: 400px;
}

.makeup-show-img {
    max-width: 400px;
    max-height: 400px;
}
.short-term {
    max-width: 105px;
    max-height: 105px;
}

.long-term {
    max-width: 105px;
    max-height: 105px;
    
}

.vegan {
    max-width: 105px;
    max-height: 105px;
}

.not-vegan {
    max-width: 105px;
    max-height: 105px;
}

article {
    font-family: Apple Chancery;
    text-align: center;
  
}

.show-buttons {
background-color: rgb(196, 121, 196); 
font-family: Brush Script MT;
color: rgb(133, 43, 133);
font-size: x-large;

}