.perfume-show-img {
    max-width: 200px;
    max-height: 200px;
}
.short-term {
    max-width: 105px;
    max-height: 105px;
}

.long-term {
    max-width: 105px;
    max-height: 105px;
    
}

.vegan {
    max-width: 105px;
    max-height: 105px;
}

.not-vegan {
    max-width: 105px;
    max-height: 105px;
}

article {
    font-family: Brush Script MT;
    /* display:grid;
    grid-auto-flow: row; */
}